$--white: #ffffff;
$--black: #000000;
$--light-gray: #bdbdbd;
$--light-gray__opacity: #00000029;
$--light-gray__lighter: #d9d9d9;
$--dark-gray: #707070;
$--blue-gray: #5b7083;
$--dark-blue: #064ebc;
$--gold: #f1b44c;
$--pink: #f3115e;
