.modal {
  align-items: center;
  border-radius: 10px;
  display: block;
  padding: 25px 45px 25px 45px !important ;
  // Header
  &-header {
    text-align: left;
    font-size: 20px;
    line-height: 27px;
    font-family: $--primary-font;
    letter-spacing: 0px;
    color: $--black;
    opacity: 1;
    font-weight: bold;
    text-align: center;
  }
  &-avatar {
    color: $--black;
    font-size: 16px;
    line-height: 21px;
    margin-right: 46px;
    font-family: $--primary-font;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-avatar-invalid {
    color: $--pink;
  }
  &-upload__avatar {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-bottom: 20px;
    margin-top: 40px;

    &__file {
      background-image: url("../images/upload-solid-blue.svg");
    }
    &__file__invalid {
      path {
        fill: $--pink;
      }
    }
    &__label__name {
      width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-left: 11px;
      color: $--black;
      font-size: 16px;
      line-height: 21px;
    }
    &__label__name__invalid {
      color: $--pink;
    }
  }
  &-upload-input__avatar {
    transform: translateY(1px);
  }

  &-input__avatar {
    margin-left: 51px;
    opacity: 0;
    position: absolute;
    transform: translateY(1px);

    z-index: -1;
  }
  &-image {
    color: $--black;
    font-size: 16px;
    line-height: 21px;
    margin-right: 58px;
    font-family: $--primary-font;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-upload__image {
    display: flex;
    align-items: center;
    &__file {
      width: 20px;
      height: 19.997px;
      stroke: transparent !important;
      stroke-width: 0px !important;
      background-image: url("../images/upload-solid-blue.svg");
    }
    span {
      margin-left: 11px;
      color: $--black;
      font-size: 16px;
      line-height: 21px;
    }
  }
  &-upload-input__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-input__image {
    margin-left: 51px;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  // Name
  &-name {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-header__name {
    color: $--black;
    font-size: 16px;
    line-height: 21px;
    margin-right: 49px;
    font-family: $--primary-font;
  }
  &-header__name-invalid {
    color: $--pink;
  }
  &-input__name {
    width: 322px;
    height: 35px;
    background: $--white 0% 0% no-repeat padding-box;
    border: 1px solid $--light-gray__opacity;
    border-radius: 5px;
    opacity: 1;
    text-indent: 5px;
    align-items: flex-end;
  }
  &-input__name-invalid {
    border: 1px solid $--pink;
  }
  &-input__name:focus {
    outline: none !important;
    border: 1px solid $--light-gray__opacity;
  }

  // Description
  &-description {
    height: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &-header__description {
    color: $--black;
    font-size: 16px;
    line-height: 21px;
    margin-right: 15px;
    font-family: $--primary-font;
  }
  &-header__description-invalid {
    color: $--pink;
  }
  &-input__description {
    width: 322px;
    height: 35px;
    background: $--white 0% 0% no-repeat padding-box;
    border: 1px solid $--light-gray__opacity;
    border-radius: 5px;
    opacity: 1;
    text-indent: 5px;
    line-clamp: 3;
    resize: none;
    align-items: flex-end;
  }
  &-input__description-invalid {
    border: 1px solid $--pink;
  }
  &-input__description:focus {
    outline: none !important;
  }
  &-input__description::-webkit-resizer {
    color: red;
  }
  .options {
    margin-top: 19.5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  br {
    border: 2px solid $--light-gray;
  }
  sup {
    font-size: inherit;
    font-family: inherit;
    line-height: 21px;
    color: $--pink;
  }
  .divider {
    margin: 26.5px 0px 18.5px 0px;
    height: 1px;
    background-color: $--light-gray__opacity;
  }
  .options {
    border: none;
    outline: none;
    transform: translateX(2px);
  }
  &-trash {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    &__description {
      margin-top: 14px;
      font-size: 16px;
      line-height: 21px;
      font-family: $--primary-font;
    }
  }
}
